*~
*.log
*_dsa
*.pub
.password
test/
client/debian/*
!client/debian/DEBIAN
client/test-logs/*
client/test-backup-source/*
client/simbur-enroll-client
client/simbur-full
client/simbur-incremental
client/simbur
client/simburd
client/test-simbur-client.conf
client/test-exclude.conf
server/debian/*
!server/debian/DEBIAN
osx/
*.gz
*.deb
server/tmp
.vagrant
Vagrantfile
